<html>
  <style>
    body{ 
      text-align: center;
      font-size: 15pt;
      font-family: arial;
    }
    table{
      text-align: center;
    }
    tr:nth-child(even) {
  background-color: #B6D4E7;
    }
  </style>
  <body>
    <h1>🌊🌊🚢🌊🌊Hello, {{userName}} 🌊🌊🚢🌊🌊</h1>
    <br>
    <p> 🍃{prompMsg} 🌊 Company Id: {{compId}} 📖:
    </p>
    <br>
    <table id="comp_info" style="margin-left: auto;
      margin-right: auto;">
      <thead style="background-color: #f5e0c9;">
            <tr>
              <th>Company Id</th>
              <th>Company Name</th>
              <th>Company Location</th>
              <th>Company Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ compInfo['comp_id']}} </td>
              <td>{{ compInfo['comp_name']}}</td>
              <td>{{ compInfo['comp_loc'] }}</td>
              <td>{{ compInfo['comp_rating'] }}</td>
            </tr>
      
          </tbody>
        </table>
        <p>🌌<a href="booking_records">Back to your booking results</a>.</p>
        <p>🌸<a href="user_home">Back to your options</a>.</p>
        <p>🍃<a href="home">Exit login & Return to home</a>.</p>
        <br>
      </body>
    </html>
