<html>
  <style>
    body{ 
      text-align: center;
      font-size: 15pt;
      font-family: arial;
    }
    table{
      text-align: center;
    }
    tr:nth-child(even) {
  background-color: #B6D4E7;
    }
  </style>
  <body>
    <h1>🌊🌊🚢🌊🌊Hello, {{userName}} 🌊🌊🚢🌊🌊</h1>
    <br>
    <p> 🍃Here's the detailed information about each cruise you've booked 📖:
    </p>
    <br>
    <table id="cruise_data" style="margin-left: auto;
      margin-right: auto;">
      <thead style="background-color: #d9f5c9;">
        <tr>
              <th>Cruise Id </th>
              <th>Cruise Name</th>
              <th>Cruise Rating</th>
              <th>Cruise Cost</th>
              <th>Cruise Start Date</th>
              <th>Cruise End Date</th>
            </tr>
          </thead>
          <tbody>
            {% for cruise in cruiseRecords %}
            <tr>
              <td>{{ cruise['cruise_id']}} </td>
              <td>{{ cruise['cruise_name']}}</td>
              <td>{{ cruise['cruise_rating'] }}</td>
              <td>{{ cruise['cruise_cost'] }}</td>
              <td>{{ cruise['cruise_start_date']}}</td>
              <td>{{ cruise['cruise_end_date']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p>🌌<a href="user_home">Back to your booking results</a>.</p>
        <p>🌸<a href="user_home">Back to your options</a>.</p>
        <p>🍃<a href="home">Exit login & Return to home</a>.</p>
        <br>
      </body>
    </html>
