<html>
  <style>
    body{ 
      text-align: center;
      font-size: 15pt;
      font-family: arial;
    }
    table{
      text-align: center;
    }
    tr:nth-child(even) {
  background-color: #f5c9c9;
    }
  </style>
  <body>
    <h1>🌊🌊🚢🌊🌊Hello, {{userName}} 🌊🌊🚢🌊🌊</h1>
    <br>
    <p> 🍃{{promptMsg}}{{cruiseId}} 📖:
    </p>
    <br>
    <table id="dest_data" style="margin-left: auto;
      margin-right: auto;">
      <thead style="background-color: #f5c9c9;">
        <tr>
              <th>Name of Your Destination </th>
              <th>Avg. Temperature</th>
              <th>Climate</th>
              <th>Continent</th>
              <th>Specialty</th>
              <th>Is the Destination Domestic?</th>
            </tr>
          </thead>
          <tbody>
            {% for dest_record in destRecords %}
            <tr>
              <td>{{ dest_record['dest_name']}}</td>
              <td>{{ dest_record['dest_temp']}} </td>
              <td>{{ dest_record['dest_climate']}}</td>
              <td>{{ dest_record['dest_continent'] }}</td>
              <td>{{ dest_record['dest_specialty'] }}</td>
              <td>{{ dest_record['dest_is_domestic']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <p>🌌<a href="booking_records">Back to your booking results</a>.</p>
        <p>🌸<a href="user_home">Back to your options</a>.</p>
        <p>🍃<a href="home">Exit login & Return to home</a>.</p>
        <br>
      </body>
    </html>
