<html>
    <style>
    body{ 
      text-align: center;
      font-size: 15pt;
      font-family: arial;
    }
    table{
      text-align: center;
    }
  </style>
    <body>
        <h1>🌊🌊🚢🌊🌊Hello, {{userName}} 🌊🌊🚢🌊🌊</h1>
        <br>
        <p> 🍃Please fill out the following preferences for us to find a cruise
            for you📖:
        </p>

        <form method="POST" action="/directly_book">
            <label for="cust_budget">How much is your budget?</label>
            <input type="number" step="0.01" min=0 name="cust_budget"
                id="cust_budget" >
            <br>

            <label for="cust_rating">Over what rating would you prefer?
                (Between 0 and 5)</label>
            <input type="number" step="1" name="cust_rating"
                id="cust_rating" >
            <br>

            <label for="cust_specialty">Choose a specialty:</label>
            <select name="cust_specialty" id="cust_specialty">
                <option value="">--choose a specialty below--</option>
                <option value="landscape">landscape</option>
                <option value="nightlife">nightlife</option>
                <option value="family-friendly">family-friendly</option>
                <option value="chilled">chilled</option>
                <option value="energetic">energetic</option>
            </select>
            <br>

            <label for="cust_climate">Choose a climate:</label>
            <select name="cust_climate" id="cust_climate">
                <option value="">--choose a climate below--</option>
                <option value="Temperate">Temperate</option>
                <option value="Tropical">Tropical</option>
                <option value="Continental">Continental</option>
                <option value="Dry">Dry</option>
                <option value="Polar">Polar</option>
            </select>
            <br>

            <label for="cust_climate">Are you okay with traveling overseas?</label>
            <select name="is_domestic" id="is_domestic">
                <option value="">--choose yes or no below--</option>
                <option value="FALSE">yes</option>
                <option value="TRUE">no</option>
            </select>
            <br>

            <br>
            <input type="submit" value="Submit">
        </form>

        <p>🌸<a href="user_home">Back to your options</a>.</p>
        <p>🍃<a href="home">Exit login & Return to home</a>.</p>
        <br>
    </body>
</html>
