<html>
    <style>
    body{ 
      text-align: center;
      font-size: 15pt;
      font-family: arial;
    }
    table{
      text-align: center;
    }
    tr:nth-child(even) {
  background-color: #d9f5c9;
    }
  </style>
    <body>
        <h1>🌊🌊🚢🌊🌊Hello, {{userName}} 🌊🌊🚢🌊🌊</h1>
        <br>
        <p> 🍃{{promptMsg}} 📖:
        </p>
        <br>

        <table id="cruise_data" style="margin-left: auto;
            margin-right: auto;">
            <thead style="background-color: #d9f5c9;">
                <tr>
                    <th>Cruise Id </th>
                    <th>Cruise Name</th>
                    <th>Cruise Rating</th>
                    <th>Cruise Cost</th>
                    <th>Cruise Start Date</th>
                    <th>Cruise End Date</th>
                </tr>
            </thead>
            <tbody>
                {% if cruiseRecords != None %}
                {% for cruise in cruiseRecords %}
                <tr>
                    <td>{{ cruise['cruise_id']}} </td>
                    <td>{{ cruise['cruise_name']}}</td>
                    <td>{{ cruise['cruise_rating'] }}</td>
                    <td>{{ cruise['cruise_cost'] }}</td>
                    <td>{{ cruise['cruise_start_date']}}</td>
                    <td>{{ cruise['cruise_end_date']}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <br>
        <p> ❤️Please type in the (Cruise Id)
            below to book the cruise:</p>
        <form method="POST" action="/book_cruise">
            <input name="cruiseId" id="cruiseId" placeholder="cruise id"
                required>
            <input type="submit" value="Book">
        </form>
        <p> 🗺️Otherwise, you can always choose other options below:</p>



        <p>🎲🎲<a href="direct_book">Reselect your preferences</a>🎲🎲</p>
        <p>🌸<a href="user_home">Back to your options</a>.</p>
        <p>🍃<a href="home">Exit login & Return to home</a>.</p>
        <br>
    </body>
</html>
