<html>
    <style>
    body{ 
      text-align: center;
      font-size: 15pt;
      font-family: arial;
    }
  </style>
    <body>
        <body>
            <h1>🌊🌊🚢🌊🌊Welcome to CruiseWithMe 🌊🌊🚢🌊🌊</h1>
            <p> Your online cruise booking manager. 🤠</p>
            <br>
            <br>

            <h4> 🍃{{promptMsg}}:</h4>
            <form method="POST" action="/user_login">
                <label for="username">Username</label>
                <input name="username" id="username" required>
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <br>
                <br>
                <input type="submit" value="Log In">

            </form>
            
            <p>🍃<a href="index">return to the homepage</a></p>

        </body>


    </html>
